{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags always come first -->
		<title>
		Online Learn
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
		<link rel="stylesheet" type="text/css" href="{% static "css/navbar.css"%}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="wrapper">
			<!-- Sidebar Holder -->
			<nav id="sidebar" class="active">
				<div class="sidebar-header">
					<h3>Bootstrap Sidebar</h3>
				</div>
				<ul class="list-unstyled components">
					<p>Dummy Heading</p>
					<li class="active">
						<a id="list_toggle" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home
							<i class="fas fa-chevron-down" style="float: right"></i>
						</a>
						<ul class="collapse list-unstyled" id="homeSubmenu">
							<li><a href="#">Home 1</a></li>
							<li><a href="#">Home 2</a></li>
							<li><a href="#">Home 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">About</a>
						<a id="list_toggle" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages
							<i class="fas fa-chevron-down" style="float: right"></i>
						</a>
						<ul class="collapse list-unstyled" id="pageSubmenu">
							<li><a href="#">Page 1</a></li>
							<li><a href="#">Page 2</a></li>
							<li><a href="#">Page 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Portfolio</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
				<ul class="list-unstyled CTAs">
					<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to the article</a></li>
				</ul>
			</nav>
			<!-- Page Content Holder -->
			<div id="content">
				<nav class="navbar ">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" id="sidebarCollapse" class="navbar-btn active">
							<span></span>
							<span></span>
							<span></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#">Page</a></li>
								<li><a href="#">Page</a></li>
								<li><a href="#">Page</a></li>
								<li><a href="#">Page</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="container" style="margin-top: 20px">
				<div class="row justify-content-center">
					<div class="col-10">
						{% block content %}
							{% block scripts %}
								<script src="http://code.jquery.com/jquery-3.2.1.min.js"
								integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
								crossorigin="anonymous"></script>
								<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
								<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
							{% endblock %}
						{% endblock %}
						<script type="text/javascript">
						$(document).ready(function() {
							$('body').on("click", "#list_toggle",function(){
								$(this).find('i').toggleClass("fa-chevron-up");
								$(this).find('i').toggleClass("fa-chevron-down");
							});		
							$("#sidebarCollapse").on("click", function() {
								$("#sidebar").toggleClass("active");
								$(this).toggleClass("active");
							});
						});
						</script>
					</div>
				</div>
			</div>
		</body>
	</html>