{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags always come first -->
		<title>
		Online | Learn
		</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		<!-- <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700" rel="stylesheet"> -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap2.min.css"%}">
		<link rel="stylesheet" type="text/css" href="{% static "css/mdb.min.css"%}">
		<link rel="stylesheet" type="text/css" href="{% static "css/navbar.css"%}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">	</head>
	<body >
	
		<div class="wrapper">
			<!-- Sidebar Holder -->
			{% if request.user.is_authenticated %}
				<nav id="sidebar" class="active" style="margin-top: 54px">
					<div class="sidebar-header">
						<img class="card-img-top rounded-circle img-responsive img-thumbnail" style="align-content: center;" src="{{ user.profile_pic.url }}" alt="Profile Picture">
					</div>
					<ul class="list-unstyled components">
						<p style="text-align: center;color: #341f97;font-size: 16px;font-weight: 600;margin-bottom: 0px;">{{ user.username }}</p>
						{% if user.is_student %}
							<p style="text-align: center;color: #4834d4;font-size: 12px;font-weight: 600;margin-top: 0px"><i class="fas fa-user-graduate"></i> STUDENT</p>
						{% else %}
							<p style="text-align: center;color: #4834d4;font-size: 12px;font-weight: 600;margin-top: 0px"><i class="fas fa-chalkboard-teacher"></i> TEACHER</p>
						{% endif %}
						<li class="active">
							<a href="/"><i class="fas fa-home"></i> Home</a>
						</li>
						<li>
							<a id="list_toggle" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-user"></i> Profile
								<i class="fas fa-chevron-down" style="float: right"></i>
							</a>
							<ul class="collapse list-unstyled" id="pageSubmenu">
								<li><a href="/profile/{{ user.username }}"><i class="fas fa-id-card"></i> Profile Overview</a></li>
								<li><a href="/account/profile/"><i class="fas fa-user-edit"></i> Edit Profile</a></li>
							</ul>
						</li>
						<li>
							<a href="/quizz/list"><i class="fas fa-clipboard-list"></i> Explore Quizzes</a>
						</li>
						{% if user.is_teacher %}
							<li>
								<a href="/quizz/create"><i class="fas fa-folder-plus"></i> Create Quizz</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}

			<!-- Page Content Holder -->
			<div id="content">
			<div class="header sticky sticky-top">
				<nav class="mb-1 shadow-none navbar navbar-expand-lg ">
					{% if request.user.is_authenticated %}
						<div class="navbar-header mr-4">
							<button type="button" id="sidebarCollapse" class="navbar-btn active" style="background-color: #0984e3">
							<span></span>
							<span></span>
							<span></span>
							</button>
						</div>
					{% endif %}
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
					aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand font-weight-bold" id="title" style="color: #4834d4;" href="{% url 'home' %}">Online|Learn</a>
					<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<div class="input-group form-sm form-2 pl-0">
									<input class="form-control" type="text" placeholder="Explore Quizzes" aria-label="Search">
									<div class="input-group-append">
										<span class="input-group-text " id="basic-text1" style="background-color: #0984e3"><i class="fas fa-search text-grey"
										aria-hidden="true"></i></span>
									</div>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto nav-flex-icons">
							{% if request.user.is_authenticated %}
								<li class="nav-item avatar dropdown">
									<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">
										<img src="{{ request.user.profile_pic.url }}" class="rounded-circle z-depth-0"
										alt="{{ user.get_username }}" height="32" width="32">
									</a>
									<div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
										aria-labelledby="navbarDropdownMenuLink-55">
										<a class="dropdown-item" href="{% url 'private-profile' %}">Profile</a>
										<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
									</div>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="btn rounded-pill aqua-gradient" href="{% url 'login' %}">Login</a>
								</li>
								<li class="nav-item">
									<a class="btn rounded-pill blue-gradient" href="{% url 'signup' %}">Sign Up</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</nav>
			</div>
				<div class="container mx-auto mt-5" >
					{% if messages %}
						<ul class="list-unstyled messages mt-5">
							{% for message in messages %}
								{% if message.tags == 'error' %}
									<li><div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
									{% else %}
										<li><div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{{ message }}
										{% endif %}
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					<div class="row justify-content-center">
						<div class="col-50 mt-5">
							{% block content %}
								{% block scripts %}
									<script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js" %}"></script>
									<script type="text/javascript" src="{% static "js/popper2.min.js" %}"></script>
									<script type="text/javascript" src="{% static "js/bootstrap2.min.js" %}"></script>
									<script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>
									<script type="text/javascript" src="{% static "js/jquery.flipping_text.min.js" %}"></script>
								{% endblock %}
							{% endblock %}
							<script type="text/javascript">
							$(document).ready(function() {
								$(window).on("scroll", function(){
									if($(this).scrollTop()){
										$(".header").removeClass("sticky");
									}else{
										$(".header").addClass("sticky");
									}
								});
								$("#title").flipping_text({tickerTime: 8});
								$('body').on("click", "#list_toggle",function(){
									$(this).find('i').toggleClass("fa-chevron-up");
									$(this).find('i').toggleClass("fa-chevron-down");
										});
								$("#sidebarCollapse").on("click", function() {
									$("#sidebar").toggleClass("active");
									$(".avatar").toggle();
									$(this).toggleClass("active");
								});
							});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>