{% extends "base.html" %}
{% load static %}"
{%  block content %}
<div class="card text-center">
	<div class="card-header">
<h2> Quizz "{{ quizz.title }}" Saved </h2>
	</div>
	<div class="card-body">
		<h5 class="card-title" id="msg"></h5>
		<h1 class="card-text"></h1>
		<h5><span class="badge badge-info">Subject: {{ quizz.subject.name }}</span></h5>
		<a href="/quizz/{{quizz.pk}}" class="btn btn-primary">Take the quizz</a>
		<a href="#" id='see_questions' class="btn btn-primary">See questions</a>
		<br>
		<table class="table table-bordered table-striped" style="margin-top: 10px" >
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Question:</th>
					<th scope="col">Answers:</th>
					<th scope="col">Correct Answers:</th>
				</tr>
			</thead>
			<tbody>        
		{% for question in data.questions %}
				<tr>
					<th scope="row">{{ forloop.counter }}</th>
					<td>{{question.question}}</td>
					<td>{{question.answers.all | join:', '}}</td>
					<td>{{question.correct_answers | join:', '}}</td>
				</tr>
        {% endfor %}
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted">
		Quizz Made: {{ quizz.date }}
	</div>
</div>
{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	$('.table').hide();
	$('#see_questions').on('click', function(){
		$('.table').toggle();
		let text = $(this).text();
		$(this).text(
			text == "See questions" ? "Hide questions" : "See questions"
			);
	});</script>
{% endblock %}
{% endblock %}