{% extends "base.html" %}
{% load static %}"
{%  block content %}
<h2>Create Quizz</h2>
{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
<style type="text/css">
	.table-sortable tbody tr {
cursor: move;
}
/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 30px;
height: 17px;
}
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}
/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
input:checked + .slider {
background-color: #2196F3;
}
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}
/* Rounded sliders */
.slider.round {
border-radius: 17px;
}
.slider.round:before {
border-radius: 50%;
}
</style>
<form method="post" >
	    {% csrf_token %}
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Quizz Name:</label>
		<div class="col-sm-10">
			<input class="form-control form-control-lg" name='quizzname' type="Quizz" placeholder="Quizz name">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Subject:</label>
		<div class="col-sm-10">
			<select name='subject' class="form-control">
					<option disabled>Select Subject:</option>
				{% for subject in subjects %}
					<option>{{ subject.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="control-group" id="fields" >
				<label class="control-label" for="field1">Questions:</label>
				<small>Press <svg width="1.5em" height="1.25em" viewBox="0 0 16 16" class="bi bi-plus" fill="green" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
					<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
					<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				</svg> to add another question</small>
				<div class="Question">
					<div class="controls">
						<div class="entry">
							<div class="input-group mb-3" >
								<input class="form-control" style="margin-top: 20px" name="question" type="text" placeholder="question text" />
								<div class="input-group-append">
									<button class="btn btn-success btn-add" style="margin-top: 20px" type="button">
									<svg width="1.5em" height="1.25em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
										<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
										<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
									</svg>
									</button>
									<br>
									<br>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12 table-responsive">
									<table class="table table-bordered table-hover table-sortable" id="tab_logic">
										<thead>
											<tr >
												<th class="text-center">
													Answers
												</th>
												<th class="text-center">
													Is correct
												</th>
												<th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
												</th>
											</tr>
										</thead>
										<tbody>
											<tr id='addr0' data-id="0" class="hidden">
												<td data-name="answer">
													<input type="text" name='answer'  placeholder='Answer' class="form-control"/>
												</td>
												<td data-name="is_correct">
													
														<label class="switch">
														<input class="switch" name='is_correct' type="checkbox">
														<span class="slider round"></span>
														Correct
													</label>
												</td>
												<td data-name="del">
													<button name="del0" class='btn btn-danger row-remove' ><span aria-hidden="true">×</span></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<a id="add_row" class="btn btn-primary float-right">Add Answer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <button class="btn btn-success float-right" type="submit" style="margin-top: 10px">Save Quizz</button>
</form>
{% block scripts %}
	{{ block.super }}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{% static "js/create-quizz.js" %}"></script>
{% endblock %}
{% endblock %}