{% extends "base.html" %}
{% load static %}"
{%  block content %}
<style type="text/css">
	.table-sortable tbody tr {
cursor: move;
}
/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 30px;
height: 17px;
}
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}
/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
input:checked + .slider {
background-color: #2196F3;
}
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}
/* Rounded sliders */
.slider.round {
border-radius: 17px;
}
.slider.round:before {
border-radius: 50%;
}
</style>
<div class="mb-3">
	<ul style="list-style-type: none;">
	<li>
<h2>Add question to Quizz: {{ quizz.title}}</h2>
<p style="color: gray">Subject: {{quizz.subject.name}}</p>
</li><li>
<a href="#" id='review-prev' class="btn btn-primary">See previous questions</a>
</li>
</ul>
</div>
		<table class="table table-bordered table-striped" id="questions-table"style="margin-top: 10px" >
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Question:</th>
					<th scope="col">Answers:</th>
				</tr>
			</thead>
			<tbody>        
		{% for question in data.questions %}
				<tr>
					<th scope="row">{{ forloop.counter }}</th>
					<td>{{question.question}}</td>
					<td>{{question.answers | join:', '}}</td>
					
				</tr>
        {% endfor %}
			</tbody>
		</table>
<form method="post" >
	{% csrf_token %}
	<div class="container" style="margin-top: 10px">
		<div class="row">
			<div class="control-group" id="fields" >
				<label class="control-label" for="field1">Questions:</label>
				<div class="Question">
					<div class="controls">
						<div class="entry">
							<div class="input-group mb-3" >
								<input class="form-control" style="margin-top: 5px" name="question" type="text" placeholder="question text" />
								<div class="input-group-append">
									<br>
									<br>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12 table-responsive">
									<table class="table table-bordered table-hover table-sortable" id="tab_logic">
										<thead>
											<tr >
												<th class="text-center p-4">
													Answers
												</th>
												<th class="text-center p-4">
													Is correct
												</th>
												<th class="text-center" >
													<a id="add_row" class="btn btn-primary p-2">Add Answer</a>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr id='addr0' data-id="0" class="hidden">
												<td data-name="answer">
													<input type="text" name='answer'  placeholder='Answer' class="form-control"/>
												</td>
												<td data-name="is_correct">
													
													<label class="switch">
														<input class="switch" name='is_correct' type="checkbox">
														<span class="slider round"></span>
														Correct
													</label>
												</td>
												<td data-name="del">
													<button name="del0" class='btn btn-danger row-remove' ><i class="fas fa-lg fa-minus-square"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<button class="btn btn-info btn-add float-right" data-toggle="tooltip" title="Add next question" style="margin-top: 20px" type="button">
							<i class="fas fa-lg fa-plus-circle"></i>
							</button>
							<small>Press <i class="fas fa-plus-circle" style="color: #33b5e5" ></i> to add another question</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-success float-right" type="submit" style="margin-top: 10px">Save Quizz</button>
</form>

{% block scripts %}
	{{ block.super }}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static "js/create-quizz.js" %}"></script>
	<script type="text/javascript">
		$('#questions-table').hide();
		$("body").on('click','#review-prev',function (){
			$('#questions-table').toggle();
			let text = $(this).text();
		$(this).text(
			text == "See previous questions" ? "Hide previous questions" : "See previous questions"
			);
		});
	</script>
{% endblock %}
{% endblock %}